<div class="navbar">
      <div class="logo">SSTC</div>
<ul class="list">
          <li><a href="https://tankadai.github.io/home.s/" class="active">Home</a></li>
            <li><a href="https://gitachygds.github.io/aboutus.s/">About Us</a></li>
            <li><a href="https://tankadai.github.io/addmission.s/" >Addmission</a></li>
            <li><a href="https://gitachygds.github.io/programs.s/" >Acadamic Programs</a></li>
            <li><a href="a">Students</a></li>
            <li><a href="https://tankadai.github.io/gallary.s/">Gallery</a></li>
            <li><a href="https://gitachygds.github.io/notice.s/">Notices</a></li>
            <li><a href="a">Our Teams</a></li>
        </ul>
    </div>
.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(28, 108, 140);
  display: flex;
  justify-content: space-between;
  text-align: center;
  place-items: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.navbar .active {
  color: black;
}
.navbar li {
  list-style-type: none;

  display: inline-block;
  /background-color: pink/
}
.navbar a:hover {
  color: black;
}
.navbar .logo {
  margin-left: 40px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
